GitPython
PyYAML
celery
django~=3.1.7
django-widget-tweaks
docker
cryptography
jinja2
jsonpath-ng
netaddr
oyaml
pan-python
paramiko
passlib
pyAesCrypt
requests
requests-toolbelt
urllib3
virtualenv
xmldiff
xmltodict
skilletlib~=1.0.0
panforge
