<div id="widget_{{ widget.name }}">
    <div class="input-group">
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %}
               value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
        <div class="input-group-append">
        <span class="input-group-text">
            <a href="#" onclick="add_list_item('widget_{{ widget.name }}', '{{ widget.name }}');">
                <i class="fa fa-plus"></i>
            </a>
            <a href="#" onclick="remove_list_item('widget_{{ widget.name }}', '{{ widget.name }}');">
                <i class="fa fa-minus pl-2"></i>
            </a>
        </span>
        </div>
    </div>
</div>