{% extends base_html|default:'pan_cnc/base.html' %}
{% load static %}

{% block content %}
    <div class="card border-primary mb-5 shadow-lg">
        <div class="card-header">
        <i class="fas fa-bug text-primary mr-1"></i>{{ header }}
            <div class="float-right">
            {% if view.help_text != '' %}
            <a href="#" data-toggle="modal" data-target="#helpTextModal" title="Help">
                <i class="fas fa-question-circle text-primary mr-1"></i>
            </a>
            {% endif %}
        </div>
        </div>
        <div class="card-body">
            <pre>{{ logs }}</pre>
        </div>

        <div class="card-footer text-right">
            <p class="card-text">
                <a href="{{ request.session.last_page|urlencode }}" class="btn btn-primary">Continue</a>
            </p>
        </div>
    </div>
    {% include 'pan_cnc/help_text_modal.html' %}
{% endblock %}
