{% extends base_html|default:'pan_cnc/base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript">
    function set_cursor() {
        let doc = $(document.documentElement);
        doc.css('cursor', 'progress');
        $('#submit_button').prop("disabled", true);
        $('#dynamic_form').submit();
    }
</script>

{%  block before_form %}
{% endblock %}

<div class="card border-primary mb-5 shadow-lg rounded">
    <div class="card-header">
        {{ view.get_header|default:header }}
        <div class="float-right">
            {% if view.help_text and view_help_text != '' %}
            <a href="#" data-toggle="modal" data-target="#helpTextModal" title="Help">
                <i class="fas fa-question-circle text-primary mr-1"></i>
            </a>
            {% elif view.service.description and view.service.description != '' %}
            <a href="#" data-toggle="modal" data-target="#helpTextModal" title="Help">
                <i class="fas fa-question-circle text-primary mr-1"></i>
            </a>
            {% endif %}
            {% if app_dir and snippet_name %}
            <a href="/debug/{{ app_dir }}/{{ snippet_name }}" title="Debug Snippet">
                <i class="fas fa-cog text-muted" title="Debug Snippet"></i>
            </a>
            {% endif %}
        </div>
    </div>

    <div class="card-body">
        <h4 class="card-title">{{ title }}</h4>
        <p class="card-text">
        <form action="{{ action }}" id="dynamic_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'pan_cnc/bootstrap_form.html' with form=form %}
        </form>
        </p>
    </div>
    <div class="card-footer text-right">
        {% block form_buttons %}{%  endblock %}
        <button type="submit" class="btn btn-primary" id="submit_button" onclick="set_cursor()">Submit</button>
    </div>
</div>
{%  block after_form %}
{% endblock %}
{% include 'pan_cnc/help_text_modal.html' %}
{% endblock %}