{% extends base_html %}
{% load static %}

{% block content %}
<script type="text/javascript">
    function set_cursor() {
        let doc = $(document.documentElement);
        doc.css('cursor', 'progress');
        $('#submit_button').prop("disabled",true);
        $('#dynamic_form').submit();
    }
</script>
<div class="card border-primary mb-6 shadow-lg rounded">
    <div class="card-header">
        {{ header }}
        {% if app_dir and snippet_name %}
        <div class="float-right">
            <a href="/debug/{{ app_dir }}/{{ snippet_name }}" title="Debug Snippet">
                <i class="fas fa-cog text-muted" title="Debug Snippet"></i>
            </a>
        </div>
        {% endif %}
    </div>

    <div class="card-body">
        <h4 class="card-title">{{ title }}</h4>
        <p class="card-text">
        <form action="{{ action }}" id="dynamic_form" method="post">
            {% csrf_token %}
            {% include 'pan_cnc/bootstrap_form.html' with form=form %}
            <button type="submit" class="btn btn-primary" id="submit_button" onclick="set_cursor()">Submit</button>
        </form>
        </p>
    </div>
</div>

{% endblock %}