{% extends base_html|default:'pan_cnc/base.html' %}
{% load static %}

{% block content %}
    <script type="text/javascript">
        function set_cursor() {
            let doc = $(document.documentElement);
            doc.css('cursor', 'progress');
            $('#submit_button').prop("disabled", true);
            $('#dynamic_form').submit();
        }

        function toggle_visibility(object_id) {
            console.log('finding all with source = "' + object_id + '"');
            let source_value = $('#id_' + object_id).val();
            $('[data-source="' + object_id + '"]').each(function (i, e) {
                let this_object = $(e);
                let parent = $(e).closest('.form-group');
                let data_value = this_object.attr('data-value');
                if (data_value !== source_value) {
                    console.log(' need to hide this guy');
                    parent.hide();
                } else {
                    console.log(' need to show this guy');
                    parent.show();
                }
            });
        }

        $(document).ready(function () {
            $('[data-source][data-value]').each(function (i, e) {
                let input_object = $(e);
                let source_object_id = input_object.attr('data-source');
                let test_value = input_object.attr('data-value');

                let source_object = $('#id_' + source_object_id);
                source_object.change(function () {
                    console.log(this.name);
                    toggle_visibility(this.name);
                });

                if (source_object.val() !== test_value) {
                    let parent = input_object.closest('.form-group');
                    parent.toggle();
                    console.log('hiding');
                }
            });

            $('[data-widget_type="list"]').each(function (i, e) {
                let input_object = $(e);
                console.log('initializing list type form control');
                console.log(input_object.attr('name'));
                let p = input_object.parent().parent();
                try {
                    let initial_str = input_object.val();
                    // this is a hack, need to ensure this comes in as valid json to begin with...
                    initial_str = initial_str.replace(/\'/g, '"');
                    let initial_val = JSON.parse(initial_str);
                    if (typeof (initial_val) !== "string") {
                        for (let j = 1; j < initial_val.length; j++) {
                            let new_input = $('<input type="text" class="form-control mt-3"/>');
                            new_input.attr('name', input_object.attr('name'));
                            new_input.val(initial_val[j]);
                            p.append(new_input);
                        }
                        input_object.val(initial_val[0]);
                    }
                } catch {
                    console.log('Could not parse json data from list!');
                }
            });
        });
    </script>

    {% block before_form %}
    {% endblock %}

    <div class="card border-primary mb-5 shadow-lg rounded">
        <div class="card-header">
            {{ view.get_header|default:header }}
            <div class="float-right">
                {% if view.help_text and view_help_text != '' %}
                    <a href="#" data-toggle="modal" data-target="#helpTextModal" title="Help">
                        <i class="fas fa-question-circle text-primary mr-1"></i>
                    </a>
                {% elif view.service.description and view.service.description != '' %}
                    <a href="#" data-toggle="modal" data-target="#helpTextModal" title="Help">
                        <i class="fas fa-question-circle text-primary mr-1"></i>
                    </a>
                {% endif %}
                {% if app_dir and snippet_name %}
                    <a href="/debug/{{ app_dir }}/{{ snippet_name }}" title="Debug Snippet">
                        <i class="fas fa-cog text-muted" title="Debug Snippet"></i>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="card-body">
            <h4 class="card-title">{{ title }}</h4>
            <p class="card-text">
            <form action="{{ action }}" id="dynamic_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'pan_cnc/bootstrap_form.html' with form=form %}
            </form>
            </p>
        </div>
        <div class="card-footer text-right">
            {% block form_buttons %}{% endblock %}
            <a href="/cancel" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary" id="submit_button" onclick="set_cursor()">Submit</button>
        </div>
    </div>
    {% block after_form %}
    {% endblock %}
    {% include 'pan_cnc/help_text_modal.html' %}
{% endblock %}